body {
	grid-template-rows: auto 1fr auto;
	max-width: 88dvw;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 1rem;

	& h2 {
		text-align: center;
	}
}

section {
	border: 0.125rem solid var(--text);
	padding: 1.5rem;
	border-radius: 0.5rem;

	h2 {
		text-align: center;
		margin: 0;
		padding-bottom: 1rem;
		font-size: 2rem;
		font-weight: 750;
		transition: all 0.25s;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	a {
		background-color: var(--accent);
		color: var(--text);
		padding: 0.75rem;
		width: calc(100% - 1.5rem);
		text-align: center;
		border-radius: 0.5rem;
		text-decoration: none;
		transition: all 0.25s;
		font-size: 1.125rem;

		&:hover {
			box-shadow: 0 0 0.5rem 0.25rem var(--accent);
		}
	}
}

#search-button {
	cursor: pointer;
	background-color: var(--background);
	border: 0.125rem solid var(--accent);
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.25s;
	height: fit-content;

	&:hover {
		background-color: var(--accent);
	}

	svg {
		color: var(--text);
	}
}

#search-overlay {
	@starting-style {
		opacity: 0;
		visibility: hidden;
	}

	position: absolute;
	height: calc(100dvh - 4rem);
	width: 100dvw;
	inset: 0;
	background-color: var(--translucent);
	backdrop-filter: blur(1rem);
	align-items: center;
	padding-top: 4rem;
	flex-direction: column;
	opacity: 1;
	visibility: visible;

	&[open] {
		display: flex;
	}

	& span {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}

#return {
	display: flex;
	align-items: center;
	justify-content: center;
	height: max-content;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--text);
}

#search {
	background-color: var(--background);
	border: 0.125rem solid var(--text);
	font-family: ui-serif, "Zodiak", serif;
	color: var(--text);
	font-size: 1.125rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	transition: all 0.25s;

	&:focus {
		box-shadow: 0 0 0.5rem 0.25rem var(--accent);
		outline: none;
	}
}

#results {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	border-bottom: 0.125rem solid var(--text);
	padding-left: 0;
	width: min(64rem, 88dvw);
	font-size: 1.125rem;

	a {
		border-top: 0.125rem solid var(--text);
		padding: 1rem 0;
		color: var(--text);
		text-decoration: none;
	}

	#fallback {
		color: var(--text);
		text-align: center;
	}
}
