body {
	grid-template-rows: auto 1fr auto;
	max-width: 88dvw;
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 1rem;

	& h2 {
		text-align: center;
	}
}

section {
	border: 0.125rem solid var(--text);
	padding: 1.5rem;
	border-radius: 0.5rem;

	h2 {
		text-align: center;
		margin: 0;
		padding-bottom: 1rem;
		font-size: 2rem;
		font-weight: 750;
		transition: all 0.25s;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	a {
		background-color: var(--accent);
		color: var(--text);
		padding: 0.75rem;
		width: calc(100% - 1.5rem);
		text-align: center;
		border-radius: 0.5rem;
		text-decoration: none;
		transition: all 0.25s;
		font-size: 1.125rem;

		&:hover {
			box-shadow: 0 0 0.5rem 0.25rem var(--accent);
		}
	}

	&.nested {
		width: calc(100% - 1.5rem);
		display: grid;
		transition: all 0.25s;
		cursor: pointer;
#search-button {
	cursor: pointer;
	background-color: var(--background);
	border: 0.125rem solid var(--accent);
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.25s;
	height: fit-content;

		& h2 {
			text-align: left;
			font-size: 1.5rem;
			padding-bottom: 0;
		}
	&:hover {
		background-color: var(--accent);
	}

		& div {
			transform: scaleY(0);
			transform-origin: top;
			opacity: 0;
			height: 0;
			transition: all 0.25s;
		}
	svg {
		color: var(--text);
	}
}

		&[open] {
			& h2 {
				padding-bottom: 1rem;
			}

			& div {
				transform: scaleY(100%);
				opacity: 1;
			}
		}
	}
}
