body {
	grid-template-rows: auto auto 1fr auto;
	width: 88dvw;
	max-width: 64rem;
}

a {
	color: oklch(75% 0.25 var(--hue));
}

p {
	font-size: 1.125rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.875rem;
}

h3 {
	font-size: 1.5rem;
}
