:root {
    font-family: ui-serif, "Zodiak", serif;
    background-color: var(--background);
    color: var(--text);

    // Colors
    --hue: 272.37;

    --accent: oklch(51.42% 0.236 var(--hue));
    --background: oklch(0% 0.175 var(--hue));
    --translucent: oklch(0% 0.175 var(--hue) / 80%);
    --text: oklch(100% 0.25 var(--hue));
}