---
import config from "@src/config.json";

import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section.astro";
import Search from "@components/Search.astro";
---

<BaseLayout>
    <Search />
    <main>
        {
            config.sections.map(({ title, links, sections }) => (
                <Section {title} {links} {sections} />
            ))
        }
    </main>
</BaseLayout>

<style lang="scss">
    main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1rem;

        & h2 {
            text-align: center;
        }
    }
</style>
