<footer>
    <span
        >Copyright © <a href="https://github.com/noClaps">noClaps</a> 2023</span
    >
    {
        Astro.url.pathname !== "/legal/" && (
            <>
                <span>&#x2022</span>
                <a href="/legal/">Legal</a>
            </>
        )
    }
</footer>

<style lang="scss">
    footer {
        padding: 1rem;
        display: flex;
        justify-content: center;
        gap: 0.25rem;
    }

    a {
        color: var(--text);
    }
</style>
