<footer>
    Copyright © <a href="https://github.com/noClaps">noClaps</a> 2023 &#x2022 <a href="/legal.html">Legal</a>
</footer>

<style lang="scss">
    footer {
        padding: 0.5rem;
        text-align: center;
    }

    a {
        color: var(--text);
        
    }
</style>