---
import config from "@src/config.json";
import SearchButton from "./search/SearchButton.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<header>
    {
        Astro.url.pathname === "/" ? (
            <>
                <h1>{title}</h1>
                <p>{config.touchWarning}</p>
            </>
        ) : (
            <a href="/">
                <h1>{title}</h1>
            </a>
        )
    }
    <SearchButton />
</header>

<style lang="scss">
    header {
        text-align: center;
        position: relative;
    }

    h1 {
        font-size: 3rem;
        font-weight: 900;
    }

    p {
        color: red;
        font-size: 1.125rem;
        display: none;

        @media (any-pointer: coarse) {
            display: block;
        }
    }

    a {
        color: var(--text);
        text-decoration: none;
    }
</style>
