---
import config from "@src/config.json";
import SearchButton from "./search/SearchButton.astro";
---

<header>
    {
        Astro.url.pathname === "/" ? (
            <span>
                <h1>{config.title}</h1>
                <p>{config.touchWarning}</p>
            </span>
        ) : (
            <a href="/">
                <h2>{config.title}</h2>
            </a>
        )
    }
    <SearchButton />
</header>

<style lang="scss">
    header {
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    span,
    a {
        flex-grow: 1;
    }

    h1 {
        font-size: 3rem;
        font-weight: 900;
    }

    h2 {
        font-size: 2rem;
        font-weight: 900;
    }

    p {
        color: red;
        font-size: 1.125rem;
        display: none;

        @media (any-pointer: coarse) {
            display: block;
        }
    }

    a {
        color: var(--text);
        text-decoration: none;
        flex-grow: 1;
    }
</style>
