---
import config from "@src/config.json";

import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";

import "@styles/style.scss";
---

<html lang="en">
    <Head title={config.title} description={config.description} />
    <body>
        <Header title={config.title} />
        <slot />
        <Footer />
        <style lang="scss">
            body {
                min-height: 100dvh;
                display: grid;
                grid-template-rows: auto auto 1fr auto;
                max-width: 88dvw;
                margin: 0 auto;
            }
        </style>
    </body>
</html>
